<div class="row">
  <h3 class="w-100 text-dark" id="content-heading" style="font-family: 'Fugaz One', sans-serif;">Featured Books</h3>
</div>
<!-- basic home page, which gives a user featured books-->
{{#each books}}
<div class="card book-card">
  <div class="row">
    <div class="col-md-2 cover">
      <img src="{{this.image}}" alt="{{this.title}}" class="rounded search-cover">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{this.title}} - {{this.author}}</h5>
        <p class="card-text">{{this.snippet}}</p>
        <div class="row justify-content-around align-items-center">
          <a href="https://play.google.com/store/books/details?id={{this.id}}" target="_blank"><img class="google-play"
              src="/assets/google-play-badge.png" alt="X"></a>
          <a href="https://www.amazon.com/dp/{{this.isbn10}}/ref=cm_cd_asin_lnk" target="_blank"><img class="amazon"
              src="/assets/amazon-badge.png" alt="X"></a>
          {{#if embeddable}}
          <button onclick=initialize("{{this.id}}") type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#bookPreviewer">Preview</button>
          {{/if}}
          <!-- Stars rating system -->

          <div class="star-container">
            <div class="row" style="margin-bottom: 0.5em !important;">
              Your Rating:
            </div>
            <div class="row">
              <i class="fas fa-star star" data-val="1" data-isbn={{this.isbn10}}></i>
              <i class="fas fa-star star" data-val="2" data-isbn={{this.isbn10}}></i>
              <i class="fas fa-star star" data-val="3" data-isbn={{this.isbn10}}></i>
              <i class="fas fa-star star" data-val="4" data-isbn={{this.isbn10}}></i>
              <i class="fas fa-star star" data-val="5" data-isbn={{this.isbn10}}></i>
            </div>
          </div>
          {{!-- <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle ratings-dropdown" type="button" id="ratingsDropdown"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-isbn={{this.isbn10}}>
              Rate the Book
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=1 href="#">1</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=2 href="#">2</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=3 href="#">3</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=4 href="#">4</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=5 href="#">5</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=6 href="#">6</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=7 href="#">7</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=8 href="#">8</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=9 href="#">9</a>
              <a class="dropdown-item rate-book" data-isbn={{this.isbn10}} value=10 href="#">10</a>
            </div>
          </div> --}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}

<!-- Preview Modal -->
<div class="modal fade" id="bookPreviewer" tabindex="-1" role="dialog" aria-labelledby="previewModalTitle" aria-hidden="true">
  <div class="modal-dialog" id="previewerDialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalTitle">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="viewerCanvas"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  google.books.load();

  function initialize(id)
  {
    var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
    viewer.load(id, noBookFound, removeBookFooter);
  }

  function noBookFound()
  {
    document.getElementById('viewerCanvas').innerHTML = "<h1>Oops! Preview not found for this book!</h1>";
  }

  function removeBookFooter()
  {
    $('#viewerCanvas > div > div:nth-child(2)').css('display', 'none');
  }

</script>